<div class="background-border">
	<form on:submit="onsubmit(event)">
		<input
			type="text"
			ref:input
			bind:value="inputValue"
			on:blur="lostInputFocus(event)"
			on:keydown="onkeydown(event)"
			placeholder="prov 30:2"
		>
	</form>
</div>

<style>
@import 'variables';

.background-border {
	padding: 8px;
	background-color: $gray;
	border-radius: 4px;
}

input {
	font-size: 32px;
	border-radius: 4px;
	padding: 4px 8px;
}
</style>

<script>
import svelteQuerystringRouter from 'svelte-querystring-router'
const { navigate } = svelteQuerystringRouter

import getTargetStateFromReference from 'lib/get-target-state-from-reference.js'

const code_escape = 27
const isEscape = event => event.key === 'Escape' || event.keyCode === code_escape

function navigationState(component) {
	let lastState = null
	let lastParams = null
	let lastAnchor = null

	component.observe('matchingReference', target => {
		if (target) {
			const mediator = component.get('mediator')
			const { anchor, stateName, params } = target

			const sameState = lastState === stateName
				&& lastParams.book === params.book

			if (!sameState) {
				if (anchor) {
					mediator.callSync('setAnchorAfterStateTransition', stateName, params, anchor)
				}

				mediator.callSync('stateGo', stateName, params, {
					replace: component.get('haveNavigated')
				})

				component.set({
					haveNavigated: true
				})
			} else {
				const updateQuerystring = params.highlight !== lastParams.highlight
				const updateAnchor = anchor
					&& anchor !== lastAnchor
					&& document.getElementById(anchor)

				if (updateQuerystring || updateAnchor) {

					if (updateQuerystring) {
						navigate({
							parameters: {
								highlight: params.highlight
							},
							replace: component.get('haveNavigated')
						})
					}

					if (updateAnchor) {
						window.history.replaceState({}, '', `#${anchor}`)
						const element = document.getElementById(anchor)
						element.scrollIntoView(true)
					}


					component.set({
						haveNavigated: true
					})
				}
			}

			lastState = stateName
			lastParams = params
			lastAnchor = anchor
		}
	})
}

export default {
	oncreate() {
		this.refs.input.focus()

		navigationState(this)
	},
	data() {
		return {
			inputValue: '',
		}
	},
	computed: {
		matchingReference: inputValue => getTargetStateFromReference(inputValue)
	},
	methods: {
		cancel() {
			const haveNavigated = this.get('haveNavigated')

			this.set({
				show: false,
				haveNavigated: false
			})

			if (haveNavigated) {
				window.history.back()
			}
		},
		onsubmit(event) {
			this.set({
				show: false
			})

			event.preventDefault()
		},
		lostInputFocus(event) {
			this.set({
				show: false
			})
		},
		onkeydown(event) {
			if (isEscape(event)) {
				this.cancel()
			}
		}
	}
}
</script>
