<PanelClick on:clickExternal="cancel()">
	<div class="background-border">
		<form on:submit="onsubmit(event)">
			<input
				type="text"
				ref:input
				bind:value="inputValue"
				on:keydown="onkeydown(event)"
				placeholder="prov 30:2"
			>
		</form>
	</div>
</PanelClick>

<style>
@import 'variables';

.background-border {
	padding: 16px;
	background-color: $gray;
	border-radius: 8px;
}

input {
	font-size: 32px;
	border-radius: 4px;
	padding: 4px 8px;
}
</style>

<script>
import PanelClick from 'svelte-panel-click'
import svelteQuerystringRouter from 'svelte-querystring-router'
const { navigate } = svelteQuerystringRouter

import getTargetStateFromReference from 'lib/get-target-state-from-reference.js'

const code_escape = 27
const isEscape = event => event.key === 'Escape' || event.keyCode === code_escape

function navigationState(component) {
	let lastAnchor = null

	component.observe('matchingReference', target => {
		if (target) {
			const mediator = component.get('mediator')
			const { anchor, stateName, params } = target

			const navigatingToSameBook = mediator.callSync('stateIsActive', stateName, {
				book: params.book
			})

			// console.log('navigatingToSameBook', navigatingToSameBook)

			if (!navigatingToSameBook) {
				if (anchor) {
					mediator.callSync('setAnchorAfterStateTransition', stateName, params, anchor)
				}

				console.log('changing states, replace', !!component.get('haveNavigated'))
				mediator.callSync('stateGo', stateName, params, {
					replace: !!component.get('haveNavigated')
				})

				component.set({
					haveNavigated: true
				})
			} else {
				const updateQuerystring = mediator.callSync('stateIsActive', stateName, params)

				const updateAnchor = anchor
					&& anchor !== lastAnchor
					&& document.getElementById(anchor)

				if (updateQuerystring || updateAnchor) {

					if (updateQuerystring) {
						console.log('updating querystring, replace', !!component.get('haveNavigated'))
						navigate({
							parameters: {
								highlight: params.highlight
							},
							replace: !!component.get('haveNavigated')
						})

						component.set({
							haveNavigated: true
						})
					}

					if (updateAnchor) {
						window.history.replaceState({}, '', `#${anchor}`)
						const element = document.getElementById(anchor)
						element.scrollIntoView(true)
					}
				}
			}

			lastAnchor = anchor
		}
	})
}

export default {
	oncreate() {
		this.refs.input.focus()

		navigationState(this)

		this.observe('haveNavigated', haveNavigated => {
			console.log('haveNavigated:', haveNavigated)
		})
	},
	data() {
		return {
			inputValue: '',
		}
	},
	components: {
		PanelClick
	},
	computed: {
		matchingReference: (inputValue, currentBookId) =>
			getTargetStateFromReference(inputValue, currentBookId)
	},
	methods: {
		cancel() {
			const haveNavigated = this.get('haveNavigated')

			this.set({
				show: false,
				haveNavigated: false
			})

			if (haveNavigated) {
				window.history.back()
			}
		},
		onsubmit(event) {
			this.set({
				show: false
			})

			event.preventDefault()
		},
		onkeydown(event) {
			if (isEscape(event)) {
				this.cancel()
			}
		}
	}
}
</script>
