<div class="container">
	<StateLink state="main" className="bigger-link">« Back</StateLink>

		<ol class="chapter-selection">
			{{#each chapterNumbers as chapterNumber}}
				<li class="chapter-number-link">
					<a href="{{linkToChapterNumber(chapterNumber)}}" class="bigger-link">
						{{chapterNumber}}
					</a>
				</li>
			{{/each}}
		</ol>

		<div class="text-container" ref:textContainer>
			{{#each bookSectionsWithChapterAndVerseMarkers as section}}
				{{#if section.type === 'header'}}
					<h3>{{section.value}}</h3>
				{{elseif section.type === 'break'}}
					<hr>
				{{elseif section.type === 'paragraph'}}
					<p>
						{{#each section.children as chunk}}
							{{#if chunk.type === 'chapter number'}}
								<LeftMarginNumber
									left="{{numberLeft}}"
									number="{{chunk.value}}"
									:mapOfVerseAndChapterNumberPositions
									emphasized="{{true}}"
								/>
								<span class="chapter-number-marker" id="chapter-number-{{chunk.value}}"></span>
							{{elseif chunk.type === 'verse number'}}
								<LeftMarginNumber
									left="{{numberLeft}}"
									number="{{chunk.value}}"
									:mapOfVerseAndChapterNumberPositions
								/>
							{{else}}
								<span class="verse-text">
									{{chunk.value}}
								</span>
							{{/if}}
						{{/each}}
					</p>
				{{elseif section.type === 'stanza'}}
					<blockquote>
						{{#each section.children as chunk}}
							{{#if chunk.type === 'chapter number'}}
								<LeftMarginNumber
									left="{{numberLeft}}"
									number="{{chunk.value}}"
									:mapOfVerseAndChapterNumberPositions
									emphasized="{{true}}"
								/>
								<span class="chapter-number-marker" id="chapter-number-{{chunk.value}}"></span>
							{{elseif chunk.type === 'verse number'}}
								<LeftMarginNumber
									left="{{numberLeft}}"
									number="{{chunk.value}}"
									:mapOfVerseAndChapterNumberPositions
								/>
							{{else}}
								<span class="verse-text">
									{{chunk.value}}<br>
								</span>
							{{/if}}
						{{/each}}
					</blockquote>
				{{else}}
					<h1>WAT BROKEN</h1>
				{{/if}}
			{{/each}}
		</div>
</div>

<style>
@import 'mixins';
@import 'gutter';

.container {
	@include container-side-padding;
}

.bigger-link {
	font-size: x-large;
	font-family: sans-serif;
}

.chapter-selection {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.chapter-number-link {
	list-style-type: none;
	flex-basis: 60px;
	height: 60px;
}

.text-container {
	max-width: 600px;
	margin-left: $gutterSize;
}
</style>

<script>
import resizeEvents from 'lib/resize-events.js'

import StateLink from 'component/StateLink.html'

import LeftMarginNumber from './LeftMarginNumber.html'

const flatMap = (ary, fn) => ary.reduce(
	(acc, element, index) => [ ...acc, ...fn(element, index) ],
	[]
)

const gutterSize = 32;
const numberOffset = gutterSize - (gutterSize / 4)

export default {
	data() {
		return {
			mapOfVerseAndChapterNumberPositions: new Map()
		}
	},
	oncreate() {
		this.cancelResizeStartListener = resizeEvents.on('resize start',
			() => this.set({ mapOfVerseAndChapterNumberPositions: new Map() })
		)
		this.cancelResizeStopListener = resizeEvents.on('resize stop',
			() => this.calculateLeft()
		)

		window.requestAnimationFrame(() => this.calculateLeft())
	},
	ondestroy() {
		this.cancelResizeStartListener()
		this.cancelResizeStopListener()
	},
	methods: {
		calculateLeft() {
			this.set({
				numberLeft: this.refs.textContainer.offsetLeft - numberOffset
			})
		}
	},
	computed: {
		bookSectionsWithChapterAndVerseMarkers: bookSections => {
			let lastChapterNumber = null
			let lastVerseNumber = null

			return bookSections.map(section => Object.assign({}, section, {
				children: section.children && flatMap(section.children, chunk => {
					const { chapterNumber, verseNumber } = chunk
					const itemsToReturn = []

					if (chapterNumber && chapterNumber !== lastChapterNumber) {
						itemsToReturn.push({
							type: 'chapter number',
							value: chapterNumber
						})
						lastChapterNumber = chapterNumber
					}

					if (verseNumber && verseNumber !== lastVerseNumber) {
						itemsToReturn.push({
							type: 'verse number',
							value: verseNumber
						})
						lastVerseNumber = verseNumber
					}

					itemsToReturn.push(chunk)

					return itemsToReturn
				})
			}))
		},
		chapterNumbers: bookSectionsWithChapterAndVerseMarkers => flatMap(bookSectionsWithChapterAndVerseMarkers,
			({ children }) => children
				? children
					.filter(({ type }) => type === 'chapter number')
					.map(({ value }) => value)
				: []
		),
	},
	helpers: {
		linkToChapterNumber: number => `#chapter-number-${number}`
	},
	components: {
		StateLink,
		LeftMarginNumber
	}
}
</script>
