<:Head>
	<title>Canon Reader</title>
</:Head>

<uiView></uiView>

<div class="footer">
	<StateLink state="main">Home</StateLink>
</div>

{{#if showReferenceSearch}}
<div class="search-container">
	<ReferenceSearch bind:show="showReferenceSearch" :mediator :currentBookId />
</div>
{{/if}}

<style>
@import 'mixins';

.search-container {
	position: fixed;
	bottom: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.footer {
	display: flex;

	padding-top: 8px;
	padding-bottom: 8px;

	@include container-side-padding;
}
</style>

<script>
import ReferenceSearch from 'component/ReferenceSearch.html'
import StateLink from 'component/StateLink.html'

export default {
	oncreate() {
		this.removeNavigationProvider = this.get('mediator').provideSync(
			'show navigation input',
			currentBookId => {
				this.set({
					showReferenceSearch: true,
					currentBookId,
				})
			}
		)
	},
	ondestroy() {
		this.removeNavigationProvider()
	},
	data() {
		return {
			showReferenceSearch: false
		}
	},
	components: {
		ReferenceSearch,
		StateLink,
	}
}
</script>
